<div class="container">
    <div class="Members">
        <search-member></search-member>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Technologies</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#member of members | async" [class.row-success]="isAccepted(member.status)">
                    <td>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.phone}}</td>
                    <td>
                        <span *ngFor="#technology of member.technologies">
                            {{technology}}
                        </span>
                    </td>
                    <td>
                      <accept-member [member]="member"></accept-member>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>