.Members {
  padding: 20px;
  background: #fff;

  table {
    margin: 20px 0 0;

    th, td{
      padding: 10px 7px;
    }
    th{
      background: #f5f5f5;
      font-size: 12px;
    }
    td{
      border-bottom: 1px solid #eee;

      &:last-child{
        width: 100px;
        text-align: right;
      }
    }
    .row-success{
      background: #EBF7E4;
    }
  }
}